target/
.git
.gitignore
.github/
.local/
.idea/
.idea_modules/
**/*.local.json
.config/
assets/
clients/flutter/
deployment/
!deployment/SERVER-IMAGE-CREDITS.md
*.md
!THIRD-PARTY-LICENSES.md
.DS_Store
