# Notes:
#  - For development and testing, copy this file to `web/assets/.env` and adjust the values
#  - For production, `deployment/production/entrypoint.sh` renders `deployment/production/.env.template`
#    into the same location at container start

SHADOWMASK_API_BASE=http://localhost:8080
